{
	"release-branch":"master",
	"default-target":"staging",
	"targets":{
		"testing":{
			  "release-mode":"copy",
			  "release-base-path":"/var/www/myproject",
			  "user-at-host":"localhost",
		},
		"staging":{
			  "release-mode":"copy",
			  "release-base-path":"/var/www/myproject",
			  "user-at-host":"user@host.com",
		},
		"live":{
			  "release-mode":"scp",
			  "release-base-path":"/tenants/0984poajisd/web/myproject"
			  "user-at-host":"user@host.com"
		  }
	},
	"target-extended-paths":{
		"default":{
			"/somedir":"/somedir",
			"/otherdir":"/otherdir"
		},
        "live":{
            "/somedir":"/somedir",
			"/otherdir":"/otherdir"
        }
	}
}